[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/hugo-scroll"]
	path = themes/hugo-scroll
	url = https://github.com/zjedi/hugo-scroll.git
